{
    "lines": 99,
    "statements": 99,
    "functions": 99,
    "branches": 99,
    "include": [
        "src/modules/**/*.js"
    ],
    "exclude": [
        "src/modules/app/**/*.js",
        "src/modules/**/unit/**/*.js",
        "src/modules/**/integration/**/*.js"
    ],
    "reporter": ["lcov", "text"],
    "check-coverage": true
}